{% extends 'base.html' %}

{% block content %}

<h1>Fill out your available times</h1>
<h3>Please fill out every time slot that you are available so 
    that we can make sure we find you an interview time slot.</h3>

<form>
    <input name="name" placeholder="What's your name?"/>
</form>

{% include 'timeslots.html' %}

<button id="submit-availabilities-button">Submit</button>

<script>

function getAvailabilities() {
    var availabilities = [];
    $('.highlighted').each(function() {
        console.log($(this).data('day'));
        console.log($(this).data('time-slot'));
    }); 

    availabilities = ["9:00-9:30", "9:30-10:00"];  // TODO: remove this
    return availabilities;
}

$('#submit-availabilities-button').click(function() {
        var postUrl = '/recruiting_cycles/1/interviewee_form';
        var availabilities = getAvailabilities();
        var availabilitiesJSON = JSON.stringify(availabilities);
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: postUrl, 
            data: availabilitiesJSON,
            success: function (data) {
                // TODO: this does not work yet
                console.log('success');
            },
            dataType: "json"
            });
        });
</script>

{% endblock %}

