{% extends 'base.html' %}

{% block content %}
<div class="content">
    <h1>Fill out your availability</h1>
    <h3>Please fill out every time slot that you are available so
    that we can make sure we find you an interview time slot.</h3>

    <form>
        <input id="name" name="name" placeholder="What's your name?"/>
    </form>
    {% include 'timeslots.html' %}
    <button id="submit-availabilities-button">Submit</button>
    <script>setupSubmit('/1/interviewee_form');</script>
</div>
{% endblock %}
