{% extends 'base.html' %}

{% block content %}

<div class="top-buttons">

    <a href="/offers/create"><span class="button">Add Offer</span></a>

    {% if not session['email'] %}

    <a href="/oauth"><span class="button">Log in</span></a>
    <a href="/oauth"><span class="button">Sign up</span></a>

    {% else %}

    <a href="/logout"><span class="button">Log out</span></a>

    {% endif %}

</div>

<div class="hero">

    <div class="mission-statement">
        <h2>Let's increase transparency about tech salaries and offers.</h2>
        <h3>Note: any offer that appears here has been posted by one of your peers.</h3>
        <h3>To share one of your offers, you'll have to sign up with your .edu email.</h3>
    </div>


    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Salary</th>
                    <th>Time Period</th>
                    <th>Housing</th>
                    <th>Corporate Housing</th>
                    <th>Relocation</th>
                    <th>Perks</th>
                    <th>Submitted By</th>
                </tr>
            </thead>
            <tbody>
                {% for offer in offers %}
                <tr>
                    <td class="company-name"><h3>{{ offer.company }}</h3></td>
                    <td>{{ offer.salary }}</td>
                    <td>Summer 2015</td>
                    <td>{{ offer.housing }}</td>
                    <td>{{ offer.has_corporate_housing }}</td>
                    <td>{{ offer.relocation }}</td>
                    <td>{{ offer.perks }}</td>
                    <td>Student, {{ offer.school }} {{ offer.graduation_year }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}
