<style>

table td {
    width:100px;
    height:10px;
    text-align:center;
    vertical-align:middle;
    background-color:#ccc;
    border:1px solid #fff;
}

table td.highlighted {
    background-color:#999;
}

</style>

<table cellpadding="0" cellspacing="0" id="our_table">
    <th></th>
    {% for day in days %}
    <th>{{ day }}</th>
    {% endfor %}

    {% for time_slot in time_slots %}
    <tr>
        <td>{{ time_slot }}</td>
        {% for day in days %}
        <td data-day="{{ day }}" data-time-slot="{{ time_slot }}"></td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<script>
$(function () {
        var isMouseDown = false,
        isHighlighted;
        $("#our_table td")
        .mousedown(function () {
            isMouseDown = true;
            $(this).toggleClass("highlighted");
            isHighlighted = $(this).hasClass("highlighted");
            return false; // prevent text selection
            })
        .mouseover(function () {
            if (isMouseDown) {
            $(this).toggleClass("highlighted", isHighlighted);
            }
            });

        $(document)
        .mouseup(function () {
            isMouseDown = false;
            });
        });
</script>
